@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.test {
  color: red;
}
body {
  min-height: 100%;
}
